name: Build Android App
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # --- SISTEMA DI CACHE ---
      - name: Cache Buildozer
        uses: actions/cache@v3
        with:
          path: .buildozer
          # La chiave cambia solo se modifichi il file buildozer.spec
          key: ${{ runner.os }}-buildozer-${{ hashFiles('buildozer.spec') }}
          restore-keys: |
            ${{ runner.os }}-buildozer-
      # ------------------------

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y openjdk-17-jdk zip unzip build-essential libltdl-dev libffi-dev libssl-dev autoconf automake libtool pkg-config zlib1g-dev
          pip install --upgrade pip
          pip install buildozer cython==0.29.36

      - name: Build with Buildozer
        run: |
          buildozer android debug
        env:
          BUILDOZER_WARN_ON_ROOT: 0
          APP_ANDROID_ACCEPT_SDK_LICENSE: "1"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Leo-App-Debug
          path: bin/*.apk
