name: Build Android App
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4

    - name: Get Date
      id: get-date
      run: |
        echo "date=$(date -u +'%Y%m%d')" >> $GITHUB_OUTPUT

    - name: Cache Buildozer
      uses: actions/cache@v3
      with:
        path: .buildozer
        key: ${{ runner.os }}-buildozer-${{ hashFiles('buildozer.spec') }}-${{ steps.get-date.outputs.date }}
        restore-keys: |
          ${{ runner.os }}-buildozer-

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y openjdk-17-jdk zip unzip build-essential libltdl-dev libffi-dev libssl-dev autoconf automake libtool pkg-config zlib1g-dev
        pip install --upgrade pip
        pip install buildozer cython==0.29.36

    - name: Build with Buildozer
      run: |
        # Usiamo 'debug' per il primo test con cache
        yes | buildozer android debug
      env:
        BUILDOZER_WARN_ON_ROOT: 0

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Leo-App-Package
        path: bin/*
