name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install system deps
      run: |
        sudo apt update
        sudo apt install -y \
          zip unzip openjdk-11-jdk \
          build-essential \
          libncurses5 \
          libstdc++6

    - name: Install Python deps
      run: |
        pip install --upgrade pip
        pip install buildozer cython==0.29.36

    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Leo-APK
        path: bin/*.apk
